/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
$color-transparent: rgba(255, 255, 255, 0.1);

$color-loader-a: #ff4b5c;
$color-loader-b: #a4b787;
$color-loader-c: #ffbb91;
$color-loader-d: #66bfbf;

$color-menu: #e11064;
$color-menu-hover: #ccd144;
$color-menu-background: #e6e9ec;
$color-link: #e11064;
$color-link-hover: #ccd144;
$color-body: #272829;


$color-black: #000;
$color-white: #fff;
$color-floral-white: #fffaf0;
$color-white-light-little: #e6e9ec;
$color-black-dark-little: #222831;
$color-black-box-shadow: rgba(0, 0, 0, 0.2);
$color-gray-dark-little: #5d5c61;
$color-gray-light: #379683;
$color-maroon-dark: #950740;
$color-maroon-light: #e11064;
$color-gold-light: #ccd144;
$color-gold-medium: #bdb76b;
$color-black-light: #55554e;
$color-brown-light: #d7d4be;

$color-home-menu-font: #949494;
$color-home-menu-light-1: #800080;
$color-home-menu-dark-1: #d87093;
$color-home-menu-light-2: #dba170;
$color-home-menu-dark-2: #70dbdb;
$color-home-menu-light-3: #e35e83;
$color-home-menu-dark-3: #c038bc;
$color-home-menu-light-4: #00e2ff;
$color-home-menu-dark-4: #5a977e;
$color-home-menu-light-5: #ffff00;
$color-home-menu-dark-5: #e56767;

$color-home-text-1: #c85c1d;
$color-home-text-2: #52d1cb;
$color-home-text-3: #d126a4;

$color-facebook: #3b5999;
$color-instagram: #d78191;
$color-twitter: #55acee;
$color-github: #4078c0;
$color-steam: #509b7f;

$color-facebook-dark: #0c358d;
$color-instagram-dark: #b43c53;
$color-twitter-dark: #2296ed;
$color-github-dark: #145fc0;
$color-steam-dark: #3e7e66;

$close-default: #950740;
$close-hover: #55554e;

$table-spacing-unit: 24px;
$half-table-spacing-unit: $table-spacing-unit / 2;

$table-highlight: #EEEEEE;

/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
$font-general: 'comfortaa','Roboto','Arial','sans-serif';
$font-primary: 'comfortaa','Arial','sans-serif';
$font-secondary: 'Roboto','sans-serif';